#register {
	-fx-text-fill: black;
	-fx-font-size: 13pt;
	-fx-font-weight: bold;
	-fx-font-family: monospace;
	-fx-padding: 5;
    -fx-shadow-highlight-color: #D7D7D7;
    -fx-body-color: linear-gradient(from 0em 0em to 0em 2.083333em, white, #D7D7D7, white);
}

.login_form {
	-fx-prompt-text-fill: black;
	-fx-text-fill: black;
}


